[info]
mixer_id: 2SB-2012-003-N
unit_id: 12
L_block_id: 12L
R_block_id: 12R
L_sis_id: I17-Cb-3J-34
R_sis_id: I17-Cb-3J-35

[105 GHz]
date: 2014/11/14
report_id: 6-2
bias1: 6.9
bias2: 6.5
lo_att: 975

[108 GHz]
date: 2014/11/14
report_id: 6-2
bias1: 7.0
bias2: 6.6
lo_att: 1000

