[info]
mixer_id: 2SB-2012-006-N
unit_id: 8
L_block_id: 9R
R_block_id: 8R
L_sis_id: I12-Bd-4J-42
R_sis_id: I12-Bd-4J-43

default: 105 GHz

[105 GHz]
date: 2014/11/10
report_id: 8
bias1: 9.7
bias2: 9.0
lo_att: 21.36

[108 GHz]
date: 2014/11/10
report_id: 8
bias1: 9.8
bias2: 8.9
lo_att: 21.97

