[info]
mixer_id: 2SB-2013-004-N
unit_id: 7
L_block_id: 7L
R_block_id: 7R
L_sis_id: I16-Bc-3J-31
R_sis_id: I16-Bc-3J-33

default: 105 GHz

[105 GHz]
date: 2014/11/27
report_id: 10
bias1: 7.1
bias2: 6.7
lo_att: 21.97

[108 GHz]
date: 2014/11/27
report_id: 10
bias1: 7.1
bias2: 6.7
lo_att: 23.19

