[info]
mixer_id: 2SB-2013-003-O
unit_id: 4
L_block_id: 4L
R_block_id: 4R
L_sis_id: I12-Db-4J-41
R_sis_id: I12-Dd-4J-41

default: 105

# LO : 92 GHz
# -----------
[92]
use: 92-L-TSYS

[92-L-TSYS]
date: 2015/01/24
report_id: 92G-20150124b
bias1: 9.6
bias2: 9.6
lo_att: 10.0

# LO : 105 GHz
# ------------
[105]
use: 105-U-TSYS

[105-U-TSYS]
date: 2015/01/24
report_id: 105G-20150124
bias1: 9.6
bias2: 9.5
lo_att: 7.0

# LO : 108 GHz
# ------------
[108]
date: 2014/10/29
report_id: 4
bias1: 9.6
bias2: 8.9
lo_att: 21.97

